body{
    background-color: whitesmoke;
}
h1{
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    }
#oone{
    color: gray;
    text-align: center;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    hr{
        color: gray;
    }
    .one{

        background-color:white;
        margin: 33%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .texts{
    display: flex;
    justify-content:space-evenly;
    justify-content: space-between;
    }
    button{
        
    }
    
    